<!DOCTYPE html>
<html>

<head>
    <title>Cart</title>
</head>

<body>
    <table width="100%" height="100%">
        <tr>
            <td width="25%">
                &nbsp;
            </td>
            <td>
                <h1><a href="/" >HeaderPicutre</a></h1>
                <table width="100%">
                    <tr>
                        <td colspan="3">
                        </td>
                        <td>
                            <button><%= Number.parseFloat(total).toFixed(2) %> CHF</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table width="100%">
                                <tr>
                                    <th>
                                        Produkt
                                    </th>
                                    <th>
                                        Einzelpreis
                                    </th>
                                    <th>
                                        Anzahl
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                </tr>
                                <% for (p of products) { %>
                                <tr>
                                    <td>
                                        <%= p.productName %>
                                    </td>
                                    <td>
                                        CHF <%= p.specialOffer %>
                                    </td>
                                    <td>
                                        <a href="/product/decrement/<%=p.id%>">
                                        <button type="button">
                                            -
                                        </button></a>
                                        <%= p.amount %>
                                        <a href="/product/increment/<%=p.id%>">
                                        <button type="button">
                                            +
                                        </button></a>
                                    </td>
                                    <td>
                                        <%= Number.parseFloat(p.amount * p.specialOffer).toFixed(2) %>
                                    </td>
                                </tr>
                                <% } %>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/views/checkout">
                            <button type="submit">Checkout</button>
                        </a>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="25%">
                &nbsp;
            </td>
        </tr>
    </table>
</body>

</html>